html,body {
    height: 100%;
    background: linear-gradient(60deg, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
  }
  
  body{
    margin: 0;
  }
  
  .imagem {
    border-radius: 100%;
    width: 25%;
  }
  
  .imagem:hover{
    animation: breathing 4000ms infinite forwards;
  }
  
  h1,h2{
    font-family: "Bebas Neue";
    margin: 0;
    color: #120783;
  }
  
  .conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
  }
  
  .link{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  a{
    background-color: #767672a9;
    box-shadow: 5px 5px 5px rgb(205, 67, 12);
    padding: 13px;
    border-radius: 9px;
    text-decoration: none;
    color: #120783;
  }
  
  a:hover{
    animation: breathing 4000ms infinite forwards;
  }
  
  
  @keyframes breathing{
    0% {
      transform: scale(98%);
    }
    25%{
      transform: scale(103%);
    }
    50% {
      transform: scale(98%) rotate(360deg);
    }
    75% {
      transform: scale(103%) rotate(360deg);
    }
    100% {
      transform: scale(98%) rotate(360deg);
    }
  }