html,body {
    height: 100%;
    background-color: #d49166
  }
  
  body{
    margin: 0;
  }
  
  .imagem {
    border-radius: 100%;
    width: 25%;
  }
  
  .imagem:hover{
    animation: breathing 4000ms infinite forwards;
  }
  
  h1,h2{
    font-family: "Bebas Neue";
    margin: 0;
  }
  
  .conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
  }
  
  .link{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  a{
    background-color: #f2f1df;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    color: #4b271c;
  }
  
  a:hover{
    animation: breathing 4000ms infinite forwards;
  }
  
  
  @keyframes breathing{
    0% {
      transform: scale(98%);
    }
    25%{
      transform: scale(103%);
    }
    50% {
      transform: scale(98%) rotate(360deg);
    }
    75% {
      transform: scale(103%) rotate(360deg);
    }
    100% {
      transform: scale(98%) rotate(360deg);
    }
  }